.chess {
	display: flex;
	flex-direction: column;
}

.board-row {
	display: flex;
	flex-direction: row;
}

.board-container {
	border: 1px solid black;
	height: 65vmin;
	width: 65vmin;
	margin: 20px;
}
