.chess {
	display: flex;
	flex-direction: column;
}

.board-row {
	display: flex;
	flex-direction: row;
}

.board-container {
	border: 1px solid black;
	height: 60vmin;
	width: 60vmin;
}

.game-area {
	display: flex;
	flex-direction: row;
	width: 100%;
}