.container {
	display: flex;
	flex-direction: column;
	width: 50vmin;
	height: 100%;
	background-color: black;
	margin: 20px;
	overflow: auto;
}

.title {
	width: 100%;
	background-color: red;
	color: black;
	margin-bottom: 10px;
}

.moves-list {
	border: 1px solid white;
	height: 100%;
	overflow: auto;
}

.moves-list-item {
	border-bottom: 1px solid white;
	text-align: left;
	color: white;
}