.square-dimensions {
	display: flex;
	width: calc(100% / 8);
	height: calc(60vmin / 8);
}

.square {
	display: flex;
	border: 1px solid black;
	justify-content: center;
}

.selectable {
	cursor: pointer;
}
